<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="search.css">
</head>

<body>

<form action="#" th:action="@{/trip-form}" th:object="${bus}" method="get">
  <div class="searchform">
    <div>
      <label for="origin">مبدا</label>
      <input type="text" th:field="*{origin}" name="origin" id="origin" />
    </div>
    <div>
      <label for="destination">مقصد</label>
      <input type="text" th:field="*{destination}" name="destination" id="destination" />
    </div>
    <div>
      <label for="ticketDate">تاریخ</label>
      <input type="date" th:value="${{ticketDate}}" name="ticketDate" id="ticketDate" />
    </div>
    <div>
      <input type="submit" value="جست جو">
    </div>
  </div>
</form>

</body>

</html>